<%= form_with(model: @task, local: true , url: choose_new_or_edit ) do |form| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= @task.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="task_title">
    <%= form.label :title %>
    <%= form.text_field :title  ,id: 'task_title'%>
  </div>
  <div class="task_content">
    <%= form.label :content %>
    <%= form.text_field :content ,id: 'task_content'%>
  </div>
  <div>
  <!-- 【step3】date_fielde メソッドにて日付を入力 -->
  <%= form.label :deadline %>
  <%= form.date_field :deadline %>
  </div>

  <!-- 【step3】プルダウン f.selectはRailsのヘルパーメソッドform_withと一緒に使用 -->
  <!-- <%#= f.select( 属性, 選択肢の集合, {オプション}, {HTMLオプション} ) %> -->

  <%= form.submit :Create%>

<% end %>
<%= link_to "タスク一覧画面にもどる", tasks_path %>
