  <!DOCTYPE html>
<html>
  <head>
    <title>ManyoKadai</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- スマホのようなサイズのものにもきちんとデザインが反映される -->
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <!-- 【4】 -->
    <% flash.each do |key, value| %>
     <%= content_tag(:div, value, class: "#{key}") %>
   <% end %>
   <% if logged_in? %>
      <%= link_to '管理画面', admin_users_path, class: 'btn btn-dark' %>
      <%= link_to "マイページ", user_path(current_user.id) , class: 'btn btn-light' %>
      <%= link_to "ログアウト", session_path(current_user.id), method: :delete ,class: 'btn btn-info' %>
    <% else %>
      <%= link_to "新規登録", new_user_path , class: 'btn btn-success'%>
      <%= link_to "ログイン", new_session_path ,class: 'btn btn-info' %>
    <% end %>
    <%= yield %>
  </body>
</html>

<footer>
      <p></p>
      <p></p>
    </footer>
  </body>
</html>
